# Diabetics-Prediction-Using-ML ðŸ’‰

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('diabetes.csv')

In [25]:
df.head(5)

# 0--> non-diabetic
# 1--> diabetic

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
df.corr()['Outcome']

Pregnancies                 0.221898
Glucose                     0.466581
BloodPressure               0.065068
SkinThickness               0.074752
Insulin                     0.130548
BMI                         0.292695
DiabetesPedigreeFunction    0.173844
Age                         0.238356
Outcome                     1.000000
Name: Outcome, dtype: float64

In [8]:
df.shape

(768, 9)

In [10]:
df.isnull().sum()
# no missing data

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [22]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [24]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [27]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [28]:
X = df.drop('Outcome',axis=1)

In [30]:
y = df['Outcome']

In [32]:
scaler = StandardScaler()

In [35]:
scaler.fit(X)

StandardScaler()

In [36]:
standardized_data = scaler.transform(X)

In [39]:
X = standardized_data

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify=y, random_state=2)

## Training the model

In [53]:
classifier = svm.SVC(kernel='linear')

In [54]:
classifier

SVC(kernel='linear')

In [55]:
classifier.fit(X_train,y_train)

SVC(kernel='linear')

## Model Evaluation

In [63]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy =accuracy_score(X_train_prediction,y_train)

In [69]:
print('Accuracy of the model on training data is:',training_data_accuracy*100)

Accuracy of the model on training data is: 78.66449511400651

In [66]:
X_test_prediction = classifier.predict(X_test)
training_data_accuracy1 =accuracy_score(X_test_prediction,y_test)

In [72]:
print('Acuracy of the model on testing data is:',training_data_accuracy1*100)

Acuracy of the model on testing data is: 77.27272727272727

In [73]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Making a prediction model that would take data and predict

In [83]:
f1 = int(input('Pregnancies: '))
f2 = int(input('Glucose: '))
f3 = int(input('Blood Pressure: '))
f4 = int(input('Skin Thickness: '))
f5 = int(input('Insulin: '))
f6 = input('BMI: ')
f7 = int(input('Diabetes Pedigree Function: ')
f8 = int(input('Age: '))

Pregnancies: 1
Glucose: 85
Blood Pressure: 66
Skin Thickness: 29
Insulin: 0
BMI: 23.3

ValueError: invalid literal for int() with base 10: '23.3'

In [82]:
input_data = (f1,f2,f3,f4,f5,f6,f7,f8)

# converting to a np array
input_data_np_array = np.asarray(input_data)

# reshape the array to only 1 instance 
input_data_reshaped = input_data_np_array.reshape(1,-1)

#Standarize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

# prediction 
prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[ 3.60961189  1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The person is diabetic

/Users/sayam_palrecha/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(